@font-face {
 font-family: 'me_quran';
 src: url("/public/js/tinymce/themes/fonts/me_quran.ttf"); /* EOT file for IE */
}

@font-face {
 font-family: 'traditional-arabic';
 src: url("/public/js/tinymce/themes/fonts/trado.ttf"); /* TTF file for CSS3 browsers */
}

